
<div class="about-user">
	<h2 class="text-center"><%= @user.name %>'s Profile and Poetry</h2>
	<p class="text-center">Email: <%= @user.email %></p>
	<p><a href="/users/<%= @user.id %>/edit">Edit Settings</a></p>
</div>

<div class="row">
	<div class="user-post-frame col-sm-4">
		<div class="user-post">
			<h3 class="post-title">Add a new <a href="/posts/new/<%= @user.id %>">poem</a>.</h3>
		</div>
	</div>
	<% @user.posts.each do |post| %>
		<div class="user-post-frame col-sm-4">
			<div class="user-post">		
				<h4 class="post-title"><%= post.title %></h4>
				<p class="post-content"><%= post.content %></p>
			</div>
		</div>
<% end %>
</div>



<!-- <form method="POST" action="/logout">
	<label>Log Out </label>
	<input type="submit" value="Log Out">
</form> -->

<!-- <p><a href="/users/<%= @user.id %>/edit">Change your settings</a></p> -->
<!-- <p>Delete Account: </p>
<form method="POST" action="/users/<%= @user.id %>/delete">
	<input type="submit" value="Farewell">
</form> -->