

<h2><%= @user.name %>'s Profile Page</h2>

<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Password: <%= @user.password %></p>
<p>Id number: <%= @user.id %></p>

<p>Delete Account: </p>
<form method="POST" action="/users/<%= @user.id %>/delete">
	<input type="submit" value="Farewell">
</form>